*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

.bg-image{
    background-image: url(../images/Img_1.png);
    background-size: cover;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    box-shadow: 2px 2px 100px rgba(0,0,0,0.4);
    position: relative;
    overflow-x: hidden;
    z-index: 5;
}
.bg-image:hover{
    outline: 15px solid #4e43769c;
    /* transform: rotate(-3deg); */
    z-index: 8;
}
.ground{
    background-image: url(../images/Img_02.png);
    position: absolute;
    height: 150px;
    width: 15000%;
    bottom:0;
    left: 0;
    animation:left-move 8s linear infinite;
    z-index: 6;
}

.car{
    position: absolute;
    bottom:52px;
    left:13.2%;
    animation:hop-up 0.5s linear infinite;
    /* display: none; */
    z-index: 9;

 
}
.car:hover{

}

.lights{
    position: absolute;
    bottom:52px;
    left:13%;
    animation:dfs 0.8s linear infinite;
    z-index: 7;
    
}
.moonlight {
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: lightgray;
	border-radius: 50%;
	top: 22.4%;
    left: 73.4%;
	z-index: 10;
	animation: light1 2s ease-in-out infinite alternate;
    opacity: 0.4;
    
    
}
.light1:hover{
    transform: rotate(-6deg);

}
.exhaust{
    position: absolute;
    opacity: 0.5;
    
    top: 72%;
    left: 0.4%;
    animation: gas 8s infinite linear;
}

.frnt{
    position: absolute;
    bottom: 52px;
    left: 45%;
    animation:frnt 0.3s linear infinite;
    z-index: 7;

}
.frnt:hover{
    animation:hop 2s infinite alternate ;
    
}



@keyframes  left-move {
    100%{
        transform: translate(-2253px);
    }
    
}



@keyframes hop-up {

    0%{
        transform: translateY(-1px);
    }
    25%{
        transform: translate(0);
        transform: scale(0);

    }
    50%{
        transform: translateY(1);

    }
    75%{
        transform: translate(0);
        transform: scale(0);

    }
    100%{
        transform: translateY(-1px);

    }
    
}

@keyframes dfs {

    0%{
        transform: translateY(-1px);
        
    }
    25%{
        transform: translate(0);
    }
    50%{
        transform: translateY(1);

    }
    75%{
        transform: translate(0);
    }
    100%{
        transform: translateY(-1px);

    }
    
}

/* @keyframes light1 {
	to {
		transform: scale(5);
		filter: blur(50px);
	}
} */

@keyframes light1 {
	100% {
		transform: scale(5);
		filter: blur(50px);
	}
}

@keyframes gass {
    0%{
        opacity: 0.7;
    }
    25%{
        opacity: 0.6;
        transform: scale(0.8);

        
    }
    50%{
        /* transform: scale(1.3); */
        opacity: 0.4;
        transform: scale(0.6);


        /* opacity: 0.5;
        transform: translate(-70px);
        transform: scale(1.6); */
        
    }
    75%{
        opacity: 0.2;
        transform: scale(0.4);

    }
    100%{
        opacity: 0;
        
    }
}

@keyframes gas {
	100% {
		transform: scale(4);
		filter: blur(150px);
        transform: translate(-380px,-180px);
	}
}


@keyframes hop {
    0%{ 
        transform: translate(0px,0px), rotate(0deg);
       
    }
    
    25%{
        transform: translate(15px,8px) rotate(-3deg) rotateX(15deg);
        
    }
    50%{
        transform: translate(10px,-100px) rotate(0deg);

    }
    75%{
        transform: translate(5px,10px) rotate(-6deg) rotateX(-10deg);

    }
    100%{
        transform: translate(0px,0px) rotate(0deg);
        

    }
}

@keyframes frnt {
    0%{
        transform: translateY(-1px);
        
    }
    25%{
        transform: translate(0);
    }
    50%{
        transform: translateY(1);

    }
    75%{
        transform: translate(0);
    }
    100%{
        transform: translateY(-1px);

    }
}